{% extends 'base.html.twig' %}
  {% block body %}
  <div class=saad>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('oujda.jpeg')}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">oujda</h5>
    <p class="card-text">Situé au cœur d'Oujda, l'hôtel Atlas Terminus & Spa vous accueille dans un environnement de luxe à 15 minutes de l'aéroport et à 10 minutes de route de la gare..</p>
    <a href="/go1" class="btn btn-primary">Go here</a>
  </div>
</div>
<div class="card card1" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('h1.jpg')}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">marakech</h5>
    <p class="card-text">L'hôtel dispose d'une piscine extérieure  et d'une aire de jeux . Vous pourrez déguster un repas au restaurant. Le Wazo Hotel propose une connexion Wi-Fi gratuite .</p>
    <a href="#" class="btn btn-primary">Go here </a>
  </div>
</div>
<div class="card card2" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('marakech.jpg')}}"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">tanger</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go here</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="{{ asset('tanger.jpg')}}"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">agadir</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go here</a>
  </div>
</div>

</div>
 {% endblock %}