{% extends 'base.html.twig' %}


{% block body %}
<div class=e>
 <h1> hotel terminus </h1>
 </div>
  <div class="t">
    <img class="t1" src="{{ asset('t1.jpg')}}" alt="">
    <img class="t1" src="{{ asset('t2.jpg')}}" alt="">
    <img class="t1" src="{{ asset('t3.jpg')}}" alt="">
    
{% endblock %}
